@page "/"

<PageTitle>Home</PageTitle>

<BreadcrumbNav DisplayText="Home" />

<h1>Blazor Puzzle #84: Breadcrumbs - as a Component</h1>

<p>
This is a .NET 9 Blazor Web App with global server interactivity.
</p>

<p>
In Puzzle 83, we implemented breadcrumbs as a navigation feature.
</p>

<p>
Our initial solution showed adding some navigation elements and event handlers to every page.
How can we wrap this into a component and abstract away that feature?
</p>
